{% extends "base.html" %}

{% block content %}
<div class="plantation-items_wrapper">
    <h2 class="plantation-items_heading">
        Rentend items
    </h2>

    <div class="plantation-table">
        <table>
            <tr>
                <th>Item No.</th>
                <th>Description</th>
                <th>Rented by</th>
                <th class="for-lg">Rented from</th>
                <th class="for-lg">Rented to</th>
                <th>Returned?</th>
                <th class="for-lg">Status</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Pest fumigator</td>
                <td>Sanele Mngadi</td>
                <td class="for-lg">20/09/2023</td>
                <td class="for-lg">25/09/2023</td>
                <td>No</td>
                <td class="for-lg">Overdue</td>
            </tr>

            <tr>
                <td>1</td>
                <td>Pest fumigator</td>
                <td>Sanele Mngadi</td>
                <td class="for-lg">20/09/2023</td>
                <td class="for-lg">25/09/2023</td>
                <td>No</td>
                <td class="for-lg">Overdue</td>
            </tr>

            <tr>
                <td>1</td>
                <td>Pest fumigator</td>
                <td>Sanele Mngadi</td>
                <td class="for-lg">20/09/2023</td>
                <td class="for-lg">25/09/2023</td>
                <td>No</td>
                <td class="for-lg">Overdue</td>
            </tr>

            <tr>
                <td>1</td>
                <td>Pest fumigator</td>
                <td>Sanele Mngadi</td>
                <td class="for-lg">20/09/2023</td>
                <td class="for-lg">25/09/2023</td>
                <td>No</td>
                <td class="for-lg">Overdue</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}