{% extends 'base.html' %}

{% block content %}

<h2>Hello</h2>
{% if user.is_staff or user.is_superuser %}
<br>
<p>{{ rental.user.get_name }} sent a new request to lend our item with the following information: </p>
<br>
<br>

<h3>Item information:</h3>
<br>
<p>Name: <b>{{ rental.product.name | title }}</b></p>
<p>For: 2 days</p>
<p>From: {{ rental.date_from }}</p>
<p>Until: {{ rental.date_to }}</p>

<br>
<hr>
<br>

<h3>Customer information</h3>
<br>
<p>Name: {{ rental.user.get_name }}</p>
<p>Email: {{ rental.user.email }}</p>
<p>Reason: {{ rental.reason }}</p>
<br>

{% if not rental.verified %}
    <a href="#" class="btn btn-danger">Reject, Request clear documents </a>
    <a href="#" class="btn btn-outline-secondary">Accept Documents Verified</a>
{% endif %}
<br>

{% elif not user.is_staff or not user.is_superuser and user.is_authenticated %}
<ul class="status">
    <li class="{% if rental.paid %}fullfilled{% endif %}">
        <span>1</span>
        <a href="#" class="btn btn-outline-tertiary">Payment</a>
    </li>
    <li class="{% if rental.paid %}fullfilled{% endif %}">
        <span>2</span>
        {% if rental.paid %}
            <a href="#" class="btn btn-outline-tertiary">Verified</a>
            {% else %}
            <p class="btn">Verified</p>
        {% endif %}
    </li>
    <li class="{% if rental.collected %}fullfilled{% endif %}">
        <span>3</span>
        {% if rental.paid and rental.verified %}
            <a href="#" class="btn btn-outline-tertiary">Collect</a>
            {% else %}
            <p class="btn">Collect</p>
        {% endif %}
    </li>
    <li class="{% if rental.returned %}fullfilled{% endif %}">
        <span>4</span>
        {% if rental.paid and rental.verified and rental.collected %}
            <a href="#" class="btn btn-outline-tertiary">Return</a>
            {% else %}
            <p class="btn">Return</p>
        {% endif %}
    </li>
</ul>
<br><br>
{% comment %} {% if not user.is_staff or not user.is_superuser %}
<a href="#" class="btn btn-secondary">Add to cart for rental</a>
{% endif %} {% endcomment %}
{% endif %}

{% if rental.id_image %}
    <h3>User prodocuments</h3>
{% endif %}


<br>


{% endblock content %}