{% extends "base.html" %}

{% block content %}    
    <h2 class="plantation-service_heading">Manage Products</h2>

    <ul class="plantation-cards">
        {% if not products %}
        <p>There are no products to manage please create products</p>
        {% endif %}

        {% for product in products %}
            <li>
                <div class="plantation-product_card">
                    <a href="#">
                        <div class="plantation-product_image">image</div>
                    </a>
                    <div class="plantation-product_info">
                        <h2 class="plantation-product_name">
                            {{ product.name }}
                        </h2>

                        <p class="plantation-product-description">
                            {{ product.description }}
                        </p>

                        <p>Price: {{ product.price }}</p>

                        <a href="#" class="plantation-cart_cta">Update</a>
                        <a href="#" class="plantation-cart_cta">Remove</a>
                       
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}