{% extends 'base.html' %}

{% block content %}
    <h2>Settings</h2>

    <div class="plantation-settings">
        <div class="user">
            <h3>Name: {{ user.first_name }} {{ user.last_name }}</h3>

            <p>Role: {% if user.is_admin or user.is_superuser %} Admin {% else %} Customer {% endif %}</p>
            <br>
            <br>
            <a href="#" class="btn btn-outline-tertiary">Change password</a> 
            
            {% if not user.is_staff and not user.is_admin and not user.is_superuser %}
                <a href="{% url 'admin-key' %}" class="btn btn-outline-tertiary">Set Administration key</a>               
            {% endif %}
        </div>
    </div>
{% endblock content %}